$lightgrey-header: #f0f0f0;
$lightgrey: lightgrey;
$blue: #2356A2;

.task-container{
   background: white;
   width: 50%;
   display: flex;
   justify-content: flex-start;
   width: 425px;   
   margin: 0 auto;
   padding: 1rem;
   border-bottom: 1px solid $lightgrey;
   &:hover {
      background: whitesmoke;
      transition: .5s all;
   }
   .todo-item, .checked {
      margin: 0.2rem 0;
      font-weight: 100;
      font-size: 28px;
      color: #2356A2;
      transition: .5s all;
   }
   .checked {
      color: grey;
      text-decoration: line-through;
   }
   .custom-radio, .custom-radio-checked {
      border-radius: 50%;
      height: 15px;
      width: 15px;
      border: 1px solid $lightgrey;
      margin: .85rem;
      &:hover{
         border: 1px solid $blue;
         cursor: pointer;
         transition: .5s all;
      }
   }  
}

.custom-radio-checked {
   background: limegreen;
}

@media (max-width: 445px) {
   .task-container{
      width: 350px;
      .todo-item, .checked {
         margin: 0.45rem 0;
         font-size: 21px;
      }
   }
}

@media (max-width: 380px) {
   .task-container{
      width: 300px;
   }
}
